body{
    margin: 0;
    padding:0;
    font-family:Impact,'Arial Narrow Bold', sans-serif;
}
.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:rgba(36, 189, 240, 0);
    width: 100%;
    height: 70px;
    z-index: 1;
}
.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}
.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}
a{
    margin: 15px;
    color: black;
    text-decoration:  none;
    text-transform: uppercase;
}
a:hover{
    color: #000;
}
.banner-area{
    position: relative;
    background-image: url(ta3.png);
    width: 100%;
    height: 110vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.banner-area,.about-area,.services-area,.contact-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
   flex-wrap: wrap;
   flex-direction: row;
   width: 100%;
   height:850px;
}
.text-part{
    width: 65%;
    height: 80%;
}
h1{
    font-size: 50px;}

p{
    font-size: 24px;
    line-height: 50px;
}
.about-area,.contact-area{
background: #fefefe;
}
.services-area{
    background :#a4d7f4;
    color:black;
}
html{
    scroll-behavior: smooth;
}
.contact{
    border: black solid;}